node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env
.DS_Store
dist/
build/
coverage/
logs/
*.log
.idea/
.vscode/
*.tgz
.nyc_output/
.pids
*.swp
*.swo
*.bak
*.tmp
*.tsbuildinfo